body {
  font-size: 1.5em;
}

html {
  scroll-behavior: smooth;
}

.jump {
  position: fixed;
  z-index: 20;

  right: 5%;
  bottom: 5%;

  background-color: var(--Light-Kmutnb);
  width: 40px;
  height: 40px;
  border-radius: 9999px;

  text-align: center;

  user-select: none;
  display: flex;
}

.jump a {
  color: white;

  margin: auto;
}

header {
  transition: all ease-in-out;
  transition-duration: 0.2s;

  width: 100%;
  z-index: 20;

  margin-left: auto;
  margin-right: auto;

  position: fixed;
  display: flex;
  user-select: none;
}

header .container {
  transition: all;

  display: flex;
}

header a {
  font-size: 0.9em;

  margin-top: auto;
  margin-bottom: auto;

  padding: 15px;

  color: var(--Text);
}

header .icon {
  font-family: "Noto Sans Mono", monospace;

  padding-left: 30px;
  color: var(--Blue);
}

header .container .icon:hover {
  transition-duration: 1s;

  color: var(--Sapphire);
}

header .container .link:hover {
  transition-duration: 200ms;

  color: var(--Overlay2);
}

header[class*="change"] {
  background-color: var(--Light-Base);

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header[class*="change"] .container .icon {
  color: var(--Light-Blue);
}

header[class*="change"] .container .icon:hover {
  color: var(--Light-Lavender);
}

header[class*="change"] .container .link {
  color: var(--Light-Text);
}

header[class*="change"] .container .link:hover {
  color: var(--Light-Overlay0);
}

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)),
    url(../public/assets/home_image.png) no-repeat fixed center;
  background-size: cover;

  height: 85vh;
  display: flex;
}

.landing .container {
  margin: auto;
  margin-left: 100px;
}

.landing .name {
  font-size: 3.5em;
  font-family: "Noto Sans Mono", monospace;

  color: var(--Text);
  line-height: 100%;
  margin-top: 10%;
  margin-bottom: 0;
}

.landing .name .icon {
  user-select: none;
}

.landing .name .icon:hover {
  display: inline-block;
  transform: rotate(-10deg);
  transition: all 0.2s ease-in-out 0s;
}

.landing .line {
  background-color: var(--Overlay0);
}

.landing .desc {
  color: var(--Text);
  margin-top: 10px;
}

.landing .desc a {
  color: var(--Kmutnb);
  font-weight: bold;
}

.landing img {
  object-fit: cover;

  width: 25vw;
  height: 45vh;
  margin: auto;

  box-shadow: 10px 10px 0px 0px var(--Red), -10px -10px 0px 0px var(--Blue);
  -webkit-box-shadow: 10px 10px 0px 0px var(--Red),
    -10px -10px 0px 0px var(--Blue);
  -moz-box-shadow: 10px 10px 0px 0px var(--Red), -10px -10px 0px 0px var(--Blue);
}

.info {
  color: var(--Light-Text);

  font-family: "Kanit", sans-serif;

  padding-top: 75px;
  padding-bottom: 75px;

  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../public/assets/pattern.png) repeat center center;
}

.info .head-container {
  display: flex;
}

.info .head {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  font-weight: 800;
  font-size: 1.6em;
  letter-spacing: 5px;

  text-shadow: 3px 3px 0px var(--Peach);

  padding-left: 30px;
  padding-right: 30px;

  background: linear-gradient(to right, var(--Light-Blue) 8px, transparent 8px)
      0 0,
    linear-gradient(to left, var(--Light-Blue) 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, var(--Light-Blue) 8px, transparent 8px) 0 0,
    linear-gradient(to top, var(--Light-Blue) 8px, transparent 8px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.info .container {
  display: flex;
}

.info .container .image {
  width: 30vw;
  height: 70vh;

  object-fit: cover;
  margin-left: auto;
  margin-right: 20px;

  box-shadow: 0px 0px 15px 1px var(--Light-Text);
  -webkit-box-shadow: 0px 0px 15px 1px var(--Light-Text);
  -moz-box-shadow: 0px 0px 15px 1px var(--Light-Text);

  outline: 2px solid white;
  outline-offset: -10px;
}

.info .content {
  width: 40vw;

  margin-left: 20px;
  margin-right: auto;
}

.info .content-container {
  margin-top: 0;
}

.info .content-container ul {
  font-size: 1em;
  font-family: "Kanit", sans-serif;

  margin-top: 0;
}

.info .content-container p {
  color: var(--Light-Text);
  line-height: 150%;

  margin-top: 0;
  margin-bottom: 0;
}

.info .content-container .red {
  color: var(--Light-Red);
  text-shadow: 1px 1px 2px var(--Light-Red);
}

.info .content-container .maroon {
  color: var(--Light-Maroon);
  text-shadow: 1px 1px 2px var(--Light-Maroon);
}

.info .content-container .peach {
  color: var(--Light-Peach);
  text-shadow: 1px 1px 2px var(--Light-Peach);
}

.info .content-container .yellow {
  color: var(--Light-Yellow);
  text-shadow: 1px 1px 2px var(--Light-Yellow);
}

.info .content-container .green {
  color: var(--Light-Green);
  text-shadow: 1px 1px 2px var(--Light-Green);
}

.info .content-container .teal {
  color: var(--Light-Teal);
  text-shadow: 1px 1px 2px var(--Light-Teal);
}

.video {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)),
    url(../public/assets/video_image.png) no-repeat fixed center;
  background-size: cover;

  padding-top: 50px;
  padding-bottom: 70px;
}

.video .head {
  text-align: center;

  /* letter-spacing: 15px; */
  font-size: 1.6em;
  font-weight: 800;

  line-height: 0;
}

.video hr {
  width: 30%;
}

.video .video-container {
  padding-top: 50px;

  display: flex;
}

.video .video-container iframe {
  margin: auto;

  box-shadow: 0px 0px 0px 8px var(--Glowstone);
}

.study {
  background-color: var(--Light-Base);
  color: var(--Light-Text);

  padding-top: 40px;
  padding-bottom: 60px;
}

.study .head p {
  width: fit-content;

  padding-left: 30px;
  padding-right: 30px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  font-size: 1.6em;
  font-family: "Kanit", sans-serif;
  font-weight: 800;

  text-shadow: 3px 3px 0px var(--Sky);

  background: linear-gradient(to right, var(--Light-Peach) 8px, transparent 8px)
      0 0,
    linear-gradient(to left, var(--Light-Peach) 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, var(--Light-Peach) 8px, transparent 8px) 0 0,
    linear-gradient(to top, var(--Light-Peach) 8px, transparent 8px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.study img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  width: 95%;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.study .container {
  position: relative;

  text-size-adjust: none;
  font-size: 1.5vw;
  /* font-size: 3vh; */
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

.study .container .name {
  z-index: 10;
}

.study .container .cis {
  top: 0%;
  left: 2.5%;
  position: absolute;

  width: 33.33%;
  height: 100%;
}

.study .container .cis .name {
  position: absolute;
  left: 50%;
  top: -5%;

  color: var(--CIS);
}

.study .container .skn {
  top: 0%;
  left: 40%;
  position: absolute;

  width: 33.333%;
  height: 100%;
}

.study .container .skn .name {
  position: absolute;
  left: 50%;
  top: -5%;

  color: var(--SKN);
}

.study .container .year {
  position: absolute;
  text-align: center;

  left: 33%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.study .container .peeep {
  top: 0%;
  left: 21.1%;
  position: absolute;

  width: 33.333%;
  height: 100%;
}

.study .container .peeep .name {
  text-align: right;

  position: absolute;
  width: 60%;

  left: -45%;
  top: 69%;

  color: var(--PEE-EP);
}

.study .container .pms {
  top: 0%;
  left: 58.5%;
  position: absolute;

  width: 33.333%;
  height: 100%;
}

.study .container .pms .name {
  text-align: right;

  position: absolute;
  width: 60%;

  left: -45%;
  top: 69%;

  color: var(--PMS);
}

.study .container .year2 {
  position: absolute;
  text-align: center;

  left: 33%;
  top: 36%;
  transform: translate(-50%, -50%);
}

.study .container .swbt {
  top: 0%;
  left: 77.1%;
  position: absolute;

  width: 20%;
  height: 100%;
}

.study .container .swbt .name {
  text-align: center;

  position: absolute;
  width: 60%;

  left: 26%;
  top: 69%;

  color: var(--SWBT);
}

.study .container .year3 {
  position: absolute;
  text-align: center;

  left: 55%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.article {
  padding-top: 50px;
  padding-bottom: 50px;

  background: linear-gradient(-35deg, var(--Base) 60%, var(--Light-Kmutnb) 60%);
}

.article .head {
  text-align: center;
  text-shadow: 3px 3px 0px var(--Overlay0);

  font-family: "Noto Sans Mono", monospace;
  font-size: 1.7em;

  padding-top: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-bottom: 0;
}

.article hr {
  width: 30%;

  margin-bottom: 45px;
}

.article .container {
  display: flex;
}

.article img {
  width: 28vw;
  height: fit-content;

  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 0px 15px 1px black;
  object-fit: contain;

  transform: rotate(-3deg);
}

.article .container .content {
  width: 45%;
  margin-left: auto;
  margin-right: auto;

  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.article .container .content .title {
  font-size: 1.5em;
}

.article .container .content .desc {
  text-indent: 50px;
  color: var(--Overlay2);
}

.article .container .content .desc a {
  color: var(--Light-Kmutnb);
  text-decoration: underline;
}

.article .container .btn {
  margin-right: 0;
  margin-left: auto;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 9999px;

  width: fit-content;
  color: white;
  background-color: var(--Light-Kmutnb);
}

.article .container .credit {
  font-size: 0.9em;

  color: var(--Overlay2);
}

.article .container .credit a {
  text-decoration: underline;
  color: var(--Overlay2);
}

.tools {
  background-color: black;

  padding-top: 50px;
  padding-bottom: 50px;
}

.tools .head {
  text-align: center;

  font-size: 1.6em;
  font-family: "Noto Sans Mono", monospace;
  margin: 0;
}

.tools hr {
  width: 25%;
}

.tools a {
  color: var(--Text);

  text-decoration: underline;
}

.tools .container {
  display: flex;
  width: fit-content;

  font-size: 0.9em;

  margin-left: auto;
  margin-right: auto;
}

.tools .container div {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: black;

  text-align: center;
  font-size: 0.8em;

  padding-bottom: 20px;
}

footer .link-container {
  display: grid;
  width: 80%;
  margin: auto;

  grid-template-columns: auto auto auto;

  padding-bottom: 30px;
}

footer .link-container p {
  text-align: left;

  font-weight: 800;
}

footer .link-container a {
  font-weight: 400;
}

footer .link-container p .th-font {
  font-family: "Kanit", sans-serif;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--Subtext0);
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;

    visibility: hidden;
  }

  .landing {
    display: block;

    height: fit-content;
    padding-bottom: 60px;
  }

  .landing .container {
    padding: 30px;
    margin: 0;
  }

  .landing .container .name {
    font-size: 2.5em;
  }

  .landing .container .desc {
    font-size: 0.8em;
  }

  .landing img {
    display: block;
    width: 70vw;
    height: 70vw;

    margin-left: auto;
    margin-right: auto;
  }

  .info .container {
    display: block;
  }

  .info .container .image {
    display: block;
    width: 70vw;
    height: 90vw;

    margin-left: auto;
    margin-right: auto;
  }

  .info .container .content {
    width: 100%;

    margin: 0;
  }

  .info .container .content {
    width: 90%;

    margin-left: auto;
    margin-right: auto;
  }

  .info .container .content .content-container {
    font-size: 0.8em;
  }

  .info .container .content iframe {
    width: 95%;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .video .head {
    font-size: 1.3em;
  }

  .video hr {
    width: 80%;
  }

  .video .video-container iframe {
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .article .head {
    font-size: 1.4em;
  }

  .article .container {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .article .container img {
    display: block;
    width: 70vw;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
  }

  .article .container .content {
    display: block;
    width: 85%;

    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
  }

  .article .container .content .credit {
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
  }

  .tools {
    padding-bottom: 35px;
  }

  .tools .head {
    font-size: 1.3em;
  }

  .tools hr {
    width: 75%;
  }

  .tools .container {
    width: 80%;

    font-size: 0.7em;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 100%;
  }

  footer .link-container {
    width: 100%;
    grid-template-columns: auto;
  }

  footer p {
    width: 70%;

    margin: auto;
  }

  footer a {
    font-size: 0.8em;
  }
}
